{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}
    {{ user.worker.get_full_name }} {% trans ' - WebsiteName' %}
{% endblock %}


{% block content %}
    {% include 'base/navbar.html' %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="top-navbar col-md-3">
                <div class="card mb-2">
                    <img src="{{ user.cover_pic.url }}"
                         class="card-img cover-photo" alt="Cover">
                    <div class="card-body mt-n5">
                        <div class="d-flex align-items-center justify-content-center bg-light mb-2 p-2">
                            <div class="author-img">
                                <img src="{{ user.profile_pic.url }}" alt="Person"
                                     class="img-fluid rounded-circle mr-1" style="width:55px">
                            </div>
                            <div class="author-info">
                                <p class="lead mb-0 font-weight-bolder">
                                    {{ user.worker.get_short_name }}
                                </p>
                            </div>
                        </div>
                        <p class="card-text text-center">{{ user.bio }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between pr-5 pl-5">
                        {% if user.facebook_url %}
                            <a href="{{ user.facebook_url }}" class="social social-facebook text-dark">
                                <i class="fi-xnsuxl-facebook"></i>
                            </a>
                        {% endif %}
                        {% if user.linkedin_url %}
                            <a href="{{ user.linkedin_url }}" class="social social-linkedin text-dark">
                                <i class="fi-xnsuxl-linkedin"></i>
                            </a>
                        {% endif %}
                        {% if user.twitter_url %}
                            <a href="{{ user.twitter_url }}" class="social social-twitter text-dark">
                                <i class="fi-xnsuxl-twitter"></i>
                            </a>
                        {% endif %}
                        {% if user.github_url %}
                            <a href="{{ user.github_url }}" class="social social-github text-dark">
                                <i class="fi-xnsuxl-github-alt"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"></h4>
                    </div>
                    <div class="p-2">
                        <div class="row px-2">
                            <div class="col-4 p-1">
                                <a href="#">
                                    <img src="" alt="Recent photo"
                                         class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-profile--activity">
                    {% for apply in applies %}
                        <div class="card-body">
                            <div class="media align-items-center">
                                <img src="{{ user.profile_pic.url }}" alt="Person" class="rounded-circle mr-2"
                                     width="40">
                                <div class="media-body">
                                    <p class="card-text mb-0">
                                        <a href="{% url 'account:profile' user.id %}">
                                            {{ user.worker.get_full_name }}
                                        </a> {% trans 'has applied to' %}
                                        <a href="{% url 'application:detail' apply.application.id %}">
                                            {{ apply.application.title }}
                                        </a>
                                    </p>
                                    <p class="card-text text-muted">
                                        {{ apply.created_at|timesince }}
                                    </p>
                                </div>
                                {% if request.user == apply.user %}
                                    <a href="#" class="btn btn-white btn-sm" data-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class="material-icons align-middle text-muted">more_horiz</i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="card-title">{% trans 'Last Applies' %}</div>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Refresh">
                            <i class="material-icons align-middle md-18 text-muted">sync</i>
                        </a>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for application in applications %}
                            <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                <div class="media align-items-center">
                                    <i class="material-icons md-14 align-middle mr-2 text-success">lens</i>
                                    <img src="{{ application.cover_pic.url }}" class="img-fluid mr-1"
                                         width="40" height="50" alt="User1">
                                    <div class="media-body lh-1">
                                        <a href="{% url 'application:detail' application.id %}">{{ application.title }}</a>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <a href="#" class="btn btn-white btn-sm" data-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class="material-icons align-middle md-18 text-muted">message</i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <h6 class="dropdown-header">Assignments</h6>
                                        <a class="dropdown-item" href="#">Completed</a>
                                        <a class="dropdown-item" href="#">Incompleted</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


