{% extends 'base/base.html' %}

{% block title %}
    Add New Question for {{ application.title }}
{% endblock %}

{% block style %}

{% endblock %}


{% block content %}
    {% include 'base/navbar.html' %}
    <div class="container mt-4 mb-3">
        <div class="row">
            <form class="w-75 m-auto" action="{% url 'application:add_question' application.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>
                    <a href="{% url 'application:detail' application.id %}">
                        {{ application.title }} {% trans '(This view to edit your Application)' %}
                    </a>
                </h2>   
                {% for foo in form %}
                    {% if foo.field.widget.attrs.data_column %}
                        {% if foo.field.widget.attrs.first %}
                            <div class="form-group">
                            <div class="form-row">
                        {% endif %}

                    <div class="col-md-{{ foo.field.widget.attrs.data_column }}">
                        <div class="form-label-group">
                            <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                            {{ foo }}
                            <small class="text-muted">{{ foo.help_text|safe }}</small>
                            {% for error in foo.errors %}
                                <small style="color: red;">{{ error|escape }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    {% if foo.field.widget.attrs.last %}
                        </div>
                        </div>
                    {% endif %}
                    {% else %}
                        <div class="form-group">
                            <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                            {{ foo }}
                            <small class="text-muted">{{ foo.help_text|safe }}</small>
                            {% for error in foo.errors %}
                                <small style="color: red;">{{ error|escape }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="TextAn" type="radio" class="form-check-input" name="question_type" value="text" checked>
                        {% trans 'Text Answer' %}
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="Multiple" type="radio" class="form-check-input" name="question_type"
                               value="multiple">
                        {% trans 'Multiple Choice' %}
                    </label>
                </div>
                <hr/>
                <div id="TextDiv">
                    <label for="TextAnswer">{% trans 'Text Answer' %}</label>
                    <input type="text" id="TextAnswer" class="form-control" name="text_answer">
                </div>
                <div id="ChoiceDiv">
                    <div class="row" id="Choices">
                        <div class="form-group col-10">
                            <label for="Choice_1">Choice 1</label>
                            <input type="text" id="Choice_1" class="form-control" name="choice">
                        </div>
                        <div class="col-2 p-4">
                            <div id="DeleteChoice" class="DeleteChoice" data-delete="Choice_1" style="cursor: pointer">
                                <span class="material-icons text-white bg-danger">delete</span>
                            </div>
                        </div>
                        <div class="form-group col-10">
                            <label for="Choice_2">Choice 2</label>
                            <input type="text" id="Choice_2" class="form-control" name="choice">
                        </div>
                        <div class="col-2 p-4">
                            <div id="DeleteChoice" class="DeleteChoice" data-delete="Choice_2" style="cursor: pointer">
                                <span class="material-icons text-white bg-danger">delete</span>
                            </div>
                        </div>

                    </div>
                    <a data-toggle="tooltip" data-placement="top"
                       title="Add new choice" id="AddChoice" class="btn w-100">
                        <span class="material-icons border border-primary">add</span>
                    </a>

                </div>
                <hr/>

                <button type="submit" class="btn btn-primary btn-block">{% trans 'Add Question' %}</button>
            </form>
        </div>
    </div>
    {% include 'base/footer.html' %}
{% endblock %}



{% block script %}
    <script>
        console.log($("#Choices").children().last())
        $(".DeleteChoice").click(function (e) {
                e.preventDefault()
                $("#Choices").children().last().remove()
                $("#Choices").children().last().remove()
        })
        $("#ChoiceDiv").hide()
        $("#Multiple").click(function () {
            $("#ChoiceDiv").show()
            $("#TextDiv").hide()
        })
        $("#TextAn").click(function () {
            $("#ChoiceDiv").hide()
            $("#TextDiv").show()
        })

        $("#AddChoice").click(function () {

            let choice_count = $("#Choices").children().length
            choice_count += 2;
            $("#Choices").append("                        <div class=\"form-group col-10\">\n" +
                "                            <label for=\"Choice_" + choice_count / 2 + "\">Choice "+choice_count/2+"</label>\n" +
                "                            <input type=\"text\" id=\"Choice_" + choice_count/2 + "\" class=\"form-control\" name=\"choice\">\n" +
                "                        </div>\n" +
                "                        <div class=\"col-2 p-4\">\n" +
                "                            <div id=\"DeleteChoice\" class=\"DeleteChoice\" data-delete=\"Choice_" + choice_count/2 + " \"style='cursor: pointer'>\n" +
                "                                <span class=\"material-icons text-white bg-danger\">delete</span>\n" +
                "                            </div>\n" +
                "                        </div>\n")
            choice_count = $("#Choices").children().length
            $(".DeleteChoice").click(function (e) {
                e.preventDefault()
                $("#Choices").children().last().remove()
                $("#Choices").children().last().remove()
            })
        });
    </script>
{% endblock %}
