{% extends 'base/base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block style %}

{% endblock %}


{% block content %}
    {% include 'base/navbar.html' %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <h3>This is {{ apply.user.worker.get_full_name }} applie for application {{ apply.application.id }}</h3>
                <hr/>
            </div>
            <form class="col-12" action="" method="post">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Full Name</label>
                            <input class="form-control" type="text" disabled
                                   value="{{ apply.user.worker.get_full_name }}">
                            <small style="color: gray;">Not editable</small>
                        </div>
                        <div class="form-group">
                            <label for="">Job Title</label>
                            <input class="form-control" type="text" disabled value="{{ apply.user.worker.birthday }}">
                            <small style="color: gray;">Not editable</small>
                        </div>
                        <div class="form-group">
                            <label for="">City</label>
                            <input class="form-control" type="text" disabled value="{{ apply.user.city }}">
                            <small style="color: gray;">Not editable</small>
                        </div>
                        <div class="form-group">
                            <label for="">Country</label>
                            <input class="form-control" type="text" disabled value="{{ apply.user.country }}">
                            <small style="color: gray;">Not editable</small>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Nationality</label>
                            <input class="form-control" type="text" disabled
                                   value="{{ apply.user.worker.nationality }}">
                        </div>
                        <div class="form-group">
                            <label for="">SSID</label>
                            <input class="form-control" type="text" disabled value="{{ apply.user.worker.ssid }}">
                        </div>
                        <div class="form-group">
                            <label for="">Application Title</label>
                            <input class="form-control" type="text" disabled value="{{ apply.application.title }}">
                        </div>
                        <div class="form-group">
                            <label for="">Job Title</label>
                            <input class="form-control" type="text" disabled value="{{ apply.application.job_title }}">
                        </div>
                        <div class="form-group">
                            <label for="">Place</label>
                            <input class="form-control" type="text" disabled value="{{ apply.application.place_name }}">
                        </div>
                    </div>

                    <div class="col-4">

                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <button type="submit" class="btn btn-success w-100">Complete And Add Worker Skills</button>
                </div>
            </form>
        </div>
    </div>
    {% include 'base/footer.html' %}
{% endblock %}


{% block script %}

{% endblock %}