{% extends 'base/base.html' %}
{% load static i18n filters %}

{% block title %}
    {% trans 'Applications' %}
{% endblock %}

{% block content %}
    {% include 'base/navbar.html' %}
    <div class="top-navbar">
        {% include 'application/search_bar.html' %}

        <div class="container">
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="d-flex align-self-center">
                        <span class="mr-2 mt-2">{% trans 'Sort by:' %}</span>
                        <select class="custom-select mr-2 w-25" style="line-height: 1.2">
                            <option selected>{% trans 'A-Z' %}</option>
                            <option value="1">{% trans 'Z-A' %}</option>
                            <option value="2">{% trans 'Recent' %}</option>
                            <option value="3">{% trans 'Reviews' %}</option>
                        </select>
                        <span class="text-muted mr-3 mt-2">
                        {% if count %}
                            {{ count }} {% trans 'Result(s)' %}
                        {% endif %}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    {% if request.user.is_company %}
                        <div class="d-flex align-self-end float-right">
                            <a href="{% url 'application:new' %}" class="btn btn-primary">{% trans 'Add New Application' %}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <div class="d-flex align-items-center justify-content-md-end">
                        <div class="btn-group btn-group-toggle btn-group-sm">
                            <a href="" class="btn btn-white text-muted">
                                <i class="material-icons md-18 align-middle">list</i>
                            </a>
                            <a href="#" class="btn btn-primary">
                                <i class="material-icons md-18 align-middle">view_column</i>
                            </a>
                            <a href="#" class="btn btn-white text-muted">
                                <i class="material-icons md-18 align-middle">location_on</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">

                    {% if applications %}
                        <h5 class="section-title h1">{% trans 'Applications' %}</h5>
                        <div class="row">
                            <!-- Team member -->
                            {% for application in applications %}
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip"> <!--onclick="this.classList.toggle('hover');"-->
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class="w-100 p-0"
                                                                src="{{ application.cover_pic.url }}"
                                                                alt="card image"></p>
                                                        <h4 class="card-title">
                                                            <a class="text-secondary"
                                                               href="{% url 'application:detail' application.id %}">
                                                                {{ application.title }}
                                                            </a>
                                                        </h4>
                                                        <ul class="list-unstyled m-0 pr-4 pl-4 pb-3">
                                                            <li class="d-flex">
                                                                <i class="material-icons md-18 align-middle mr-2 text-muted">account_circle</i>
                                                                <span>{{ application.user.company.company_name }}</span>
                                                            </li>
                                                            <li class="d-flex mb-1 justify-content-between">
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                              title="{% trans 'Created At:' %} {{ application.created_at }}">
                                                            <i class="material-icons md-18 align-middle mr-2 text-muted">schedule</i>
                                                            {{ application.created_at|timesince|upto:',' }}
                                                        </span>
                                                                <span data-toggle="tooltip" data-placement="bottom"
                                                                      title="{% trans 'Deadline At:' %} {{ application.deadline }}">
                                                            <i class="material-icons md-18 align-middle mr-2 text-muted">alarm_add</i>
                                                            {{ application.deadline|timeuntil|upto:',' }}
                                                        </span>
                                                            </li>

                                                            <li class="d-flex mb-1">
                                                                <i class="material-icons md-18 align-middle mr-2 text-muted">location_on</i>
                                                                <span>{{ application.place_name }}</span>
                                                            </li>
                                                            <li class="d-flex text-left">
                                                                <i class="material-icons md-18 align-middle mr-2 text-muted">label</i>
                                                                <span>{{ application.job_title }}</span>
                                                            </li>

                                                        </ul>
                                                        <div class="card-footer text-center">
                                                            <a href="{% url 'application:detail' application.id %}"
                                                               class="btn font-weight-bolder w-100">{% trans 'Read More...' %}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">{{ application.title }}</h4>
                                                    </div>
                                                    <div class="card-footer text-center">
                                                        <a href="{% url 'application:detail' application.id %}"
                                                           class="btn w-100">{% trans 'Read More...' %}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./Team member -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {% if not count %}
                            <h3>{% trans '0 Results !!!' %}</h3>
                        {% endif %}
                        <h4>{% trans 'Sorry there is no Applications to show.' %}</h4>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
{% endblock %}
