{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Add New Application
{% endblock %}


{% block style %}
    <!-- include summernote css -->
    <link href="{% static 'css/summernote.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'base/navbar.html' %}
    <div class="container mt-4 mb-3">
        <div class="row">
            <form class="w-75 m-auto" action="{% url 'application:new' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Add New Application Form</h2>
                {% for foo in form %}
                    {% if foo.field.widget.attrs.data_column %}
                        {% if foo.field.widget.attrs.first %}
                            <div class="form-group">
                            <div class="form-row">
                        {% endif %}

                    <div class="col-md-{{ foo.field.widget.attrs.data_column }}">
                        <div class="form-label-group">
                            <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                            {{ foo }}
                            <small class="text-muted">{{ foo.help_text|safe }}</small>
                            {% for error in foo.errors %}
                                <small style="color: red;">{{ error|escape }}</small>
                            {% endfor %}
                        </div>
                    </div>
                    {% if foo.field.widget.attrs.last %}
                        </div>
                        </div>
                    {% endif %}
                    {% else %}
                        <div class="form-group">
                            <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                            {{ foo }}
                            <small class="text-muted">{{ foo.help_text|safe }}</small>
                            {% for error in foo.errors %}
                                <small style="color: red;">{{ error|escape }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}

                {% endfor %}

                <button type="submit" class="btn btn-primary btn-block">Add Application</button>
            </form>
        </div>
    </div>
    {% include 'base/footer.html' %}
{% endblock %}

{% block script %}
    <!-- include summernote js -->
    <script src="{% static 'js/summernote.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#BodyInput').summernote({
                placeholder: 'Write your Application Details',
                tabsize: 2,
                height: 300
            });
        });

    </script>

{% endblock %}
