{% load static i18n %}

<div class="jumbotron fixed-banner rounded-0">
    <div class="fixed-banner-image-wrapper">
        <img src="{% static 'images/searchbar-background.png' %}" alt="property">
    </div>
    <div class="container">
        <div class="text-center">
            <div class="pb-3">
                <h1 class="display-3 mb-0">{% trans 'Find A Job' %}</h1>
                <p class="lead">{% trans 'With WebsiteName you can quickly find your Dream Job!' %}</p>
            </div>
            <form class="" action="{% url 'application:home' %}" method="get">
                <div class="card card-sm">
                    <div class="input-group w-100">
                        <div class="w-100">

                            <div class="card-body row no-gutters align-items-center p-3">
                                <div class="col-auto">
                                    <i class="fas fa-search h4 text-body"></i>
                                </div>
                                <div class="col">
                                    <input class="form-control form-control-lg form-control-borderless"
                                           type="search" name="q" value="{{ q }}"
                                           placeholder="{% trans 'Search topics or keywords' %}">
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-lg" type="submit"><i class="fi-xnsuhl-search"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="form-check-inline">
                    {% trans 'Search by:' %}
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="search_option" checked value="all">
                        {% trans 'All' %}
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="search_option"
                               {% if opt == 'title' %}checked{% endif %} value="title">
                        {% trans 'Title' %}
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="search_option"
                               {% if opt == 'job' %}checked{% endif %} value="job">
                        {% trans 'Job' %}
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="search_option"
                               {% if opt == 'place' %}checked{% endif %} value="place">
                        {% trans 'Place' %}
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="search_option"
                               {% if opt == 'month' %}checked{% endif %} value="month">
                        {% trans 'Deadline Month' %}
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>