{% extends 'base/base.html' %}
{% load i18n filters %}

{% block title %}
    {{ application.title }}
{% endblock %}


{% block style %}

{% endblock %}


{% block content %}
    {% include 'base/navbar.html' %}
    <div class="container pt-3">
        <div class="mb-3">
            <h1 class="h2 mb-0">{{ application.title }}</h1>
            <h4 class="h2 mb-0"><i class="material-icons">location_on</i> {{ application.place_name }}</h4>
            <ol class="breadcrumb p-0">
                <li>
                    <a href="{% url 'account:home' %}">{% trans 'Home' %}</a>
                </li>
                <li>
                    <a href="{% url 'application:home' %}">{% trans 'Applications' %}</a>
                </li>
                <li class="text-muted">
                    {% trans 'Application No.' %} {{ application.id }}
                </li>
            </ol>
        </div>
        <div class="row mb-4">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{% trans 'Description' %}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ application.body|safe }}
                        </p>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h4 class="card-title">{% trans 'Benefits' %}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="pl-3 m-0">
                            <li class="mb-2">
                                <strong>Privacy</strong> - the apartment is located on the whole 1st floor of the
                                building.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h4 class="card-title">{% trans 'More Details' %}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled m-0">
                            <li class="d-flex mb-1">
                                <i class="material-icons md-18 align-middle mr-2 text-muted">location_on</i>
                                <span>{{ application.place_name }}</span>
                            </li>
                            <li class="d-flex mb-1">
                                <i class="material-icons md-18 align-middle mr-2 text-muted">schedule</i>
                                <span>{{ application.created_at|timesince|upto:',' }}</span>
                            </li>
                            <li class="d-flex">
                                <i class="material-icons md-18 align-middle mr-2 text-muted">alarm_add</i>
                                <span>{{ application.deadline|timeuntil|upto:',' }}</span>
                            </li>
                            <li class="d-flex">
                                <i class="material-icons md-18 align-middle mr-2 text-muted">label</i>
                                <span>{{ application.job_title }}</span>
                            </li>
                            <li class="d-flex">
                                <i class="material-icons md-18 align-middle mr-2 text-muted">account_circle</i>
                                <span>{{ application.user.company.company_name }}</span>
                            </li>
                        </ul>
                    </div>
                    {% if application.is_map_placed %}
                        <div id="map" style="height: 400px"></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                {% if request.user.is_company %}
                    <div class="card">
                        <div class="card-header">
                            <h3>{% trans 'Boost Your Application' %}</h3>
                            <span class="text-muted">{% trans 'Show Your Application for the better.' %}</span>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                        <div>
                                            <i class="material-icons md-18 align-middle mr-1 text-muted">alarm</i>

                                        </div>
                                        <input type="number" class="input-sm form-control w-50" value="1">
                                        <span>&nbsp;{% trans 'Days' %}</span>
                                    </div>
                                </div>
                                <button class="btn btn-success btn-block text-uppercase">
                                    <i class="material-icons align-middle mr-1">slow_motion_video</i> {% trans 'Boost &dollar;1,200' %}
                                </button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="card">

                    </div>
                {% endif %}
                <div class="card mt-3">
                    <div class="card-header">
                        <h4>More About This Application</h4>
                    </div>
                    <div class="card-body">
                        {% if application.user == request.user %}
                            <div class="d-inline-flex flex-row justify-content-center text-center">
                                <a class="btn p-2 btn-primary"
                                   href="{% url 'application:add_question' application.id %}">Add Question</a>
                                <a class="btn p-2 btn-primary" href="{% url 'application:show_apply' application.id %}">Show
                                    Applies</a>
                            </div>
                            <div class="d-inline-flex flex-row justify-content-center text-center">
                                <a class="btn p-2 btn-success" href="{% url 'application:edit' application.id %}">Edit
                                    Application</a>
                                <a class="btn p-2 btn-danger" href="{% url 'application:delete' application.id %}">Delete
                                    Application</a>
                            </div>
                        {% else %}
                            {% for question in application.question_set.all %}
                                {{ question.question_text }} (optional)
                                {% for choice in question.choice_set.all %}
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="{{ question.id }}"
                                                   value="{{ choice.choice_text }}">{{ choice.choice_text }}
                                        </label>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <hr>
                            <a href="" class="btn btn-primary w-100">APPLY NOW</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'base/footer.html' %}
{% endblock %}


{% block script %}
    {% language 'en' %}
        <script>
            function initMap() {
                var uluru = {
                    {#lat: 32.0175,#}
                    {#lng: 35.8690#}
                    lat: {{ application.latitude }},
                    lng: {{ application.longitude }}
                }
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 13,
                    center: uluru,
                    gestureHandling: 'cooperative'
                })

                var uluruMarker = new google.maps.Marker({
                    position: uluru,
                    map: map
                })
            }
        </script>
    {% endlanguage %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYpjo2t906ezz24mEyWfaon8UFwJdwHzY&callback=initMap"
            async defer></script>

{% endblock %}
