{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'WebsiteName' %}
{% endblock %}

{% block content %}
    {% include 'base/navbar.html' %}
    {% include 'application/search_bar.html' %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-8 mb-5">
                <h2>{% trans 'Who are we?' %}</h2>
                <p>{% trans 'The career talent website welcomes you' %}</p>
                <hr>
                <h2>{% trans 'What do we do for you?' %}</h2>
                <p>
                    {% blocktrans %}
                        We do the best way through the recruitment process by providing jobs for you and competing for
                        them, as
                        the site provides you with the required tasks through every job you provide in your professional
                        way,
                        and without any doubt that everyone has a talent to present what has been accomplished tasks of
                        any job
                        title and qualify for a personal interview
                    {% endblocktrans %}
                </p>
                <hr>
                <h2>{% trans 'What are our advantages?' %}</h2>
                <p>
                    {% blocktrans %}
                        The company evaluates the applicant through a personal interview through his personal account on
                        the
                        site to praise his capabilities and keep them for display by any person or company through an
                        account on
                        the site
                    {% endblocktrans %}
                </p>

                <p>
                    {% blocktrans %}
                        Increase the capabilities and expertise of applicants to compete in providing tasks in various
                        positions
                        What We Do
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-md-4 mb-5">
                <h2>Contact Us</h2>
                <hr>
                <address>
                    <strong>Start Bootstrap</strong>
                    <br>3481 Melrose Place
                    <br>Beverly Hills, CA 90210
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>
                    (123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr>
                    <a href="mailto:#">name@example.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

{#        <div class="row">#}
{#            <div class="col-md-4 mb-5">#}
{#                <div class="card h-100">#}
{#                    <img class="card-img-top" src="https://placehold.it/300x200" alt="">#}
{#                    <div class="card-body">#}
{#                        <h4 class="card-title">Card title</h4>#}
{#                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse#}
{#                            necessitatibus neque sequi doloribus.</p>#}
{#                    </div>#}
{#                    <div class="card-footer">#}
{#                        <a href="#" class="btn btn-primary">Find Out More!</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4 mb-5">#}
{#                <div class="card h-100">#}
{#                    <img class="card-img-top" src="https://placehold.it/300x200" alt="">#}
{#                    <div class="card-body">#}
{#                        <h4 class="card-title">Card title</h4>#}
{#                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse#}
{#                            necessitatibus neque sequi doloribus totam ut praesentium aut.</p>#}
{#                    </div>#}
{#                    <div class="card-footer">#}
{#                        <a href="#" class="btn btn-primary">Find Out More!</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4 mb-5">#}
{#                <div class="card h-100">#}
{#                    <img class="card-img-top" src="https://placehold.it/300x200" alt="">#}
{#                    <div class="card-body">#}
{#                        <h4 class="card-title">Card title</h4>#}
{#                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse#}
{#                            necessitatibus neque.</p>#}
{#                    </div>#}
{#                    <div class="card-footer">#}
{#                        <a href="#" class="btn btn-primary">Find Out More!</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <!-- /.row -->

    </div>
    <!-- /.container -->

    {% include 'base/footer.html' %}
{% endblock %}

